html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: Georgia, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  background-color: #ffe500;
  padding: 0 .2em .2em;
  text-align: center;
}

body {
  margin: 0;
}

h1 {
  font-family: "Sigmar One", cursive;
  color: #b20953;
  font-size: 3rem;
  margin: 0;
  padding-bottom: .2em;
}

h2 {
  font-family: "Sigmar One", cursive;
  color: #b20953;
  font-size: 1.875rem;
  display: inline-block;
  padding: 0;
}

ul {
  margin: 0;
  text-align: center;
  padding: 0;
  padding-bottom: .2em;
}

nav li {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
}

nav a {
  display: inline-block;
  background-color: #b2a212;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  font-size: 1.125rem;
  padding: .2em .5em .3em;
  text-align: center;
  margin: 0 0 .2em;
}

p {
  text-align: left;
  color: #2f2d13;
  margin: 0;
  padding-bottom: 1em;
}

main {
  background-color: #fff;
  padding: 0 10px;
  display: inline-block;
}

.nav .current {
  background-color: #b20953;
}

.nav a:hover {
  background-color: #cc1465;
}

img {
  width: 100%;
  display: block;
}

footer {
  text-align: center;
  background-color: #ffe500;
  padding: .5em;
  font-size: 1.125rem;
  margin: 0;
}
